@{
    ViewBag.Title = "Mercury";
}

<div class="jumbotron">
    <h1>Mercury</h1>
    <p class="lead">Mercury is an open-source tool for quick deployment of software into a lab environment. You bring the hardware, we'll bring the software.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If this is your first time here, we strongly recommend reading our <b>getting started</b> guide.
        </p>
        <p><a class="btn btn-default" href="/GettingStarted">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deploy a lab</h2>
        <p>If you've been here before or you're ready to deploy a lab, click the button below.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Deploy a lab &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Random cat fact</h2>
        <p>@Html.DisplayText(ViewBag.RandomCatFact)</p>
    </div>
</div>